aiofiles
aiohttp
asyncio
ffmpeg
future
Pillow
psutil
Pyrogram
pytgcalls
python-arq
python-dotenv
requests
search_engine_parser
tgcalls
TgCrypto
tswift
wget
youtube_dl
youtube_search
youtube_search_python